body {
  background-color: #065757ec;
}

.container {
  background-color: #c6d6d6;
  text-align: center;
  width: 50%;
  margin: auto;
  padding: 0.5em 0.8em;
  box-shadow: 0 4px 8px 0 #fffefe2f;
}

.number-input {
  margin-bottom: 1em;
  padding: 0.8em;
}

#date-input {
  padding: 0.4em 1em;
  margin-bottom: 1em;
}

.date-fact {
  margin-top: 5em;
}

.output {
  margin-bottom: 1em;
}

@media screen and (max-width: 425px) {	
  .container {
    width: 70%;
    margin-top: 9em;
  }
}

@media screen and (max-width: 320px) {	
  .container {
    width: 70%;
    margin-top: 7em;
  }
}
