body {
  text-align: center;
  background-color: #9bbfc3;
}

.content>h1 {
  font-size: 2em;
}

.container {
  background-color: #62868638;
  width: 50%;
  margin: auto;
  height: auto;
  padding: 1em;
  border-radius: 0.8em;
}

#numberInput {
  height: 3em;
  width: 18em;
  padding: 0 0.8em;
}

#dateInput {
  height: 3em;
  width: 18em;
  padding: 0 0.8em;
}

.date-fact {
  margin-top: 5em;
}

.output {
  margin-top: 1em;
  font-size: 1.5em;
}

@media screen and (max-width: 425px) {	
  .container {
    width: 70%;
  }
}

@media screen and (max-width: 320px) {	
  #numberInput {
    width: 12em;
  }
  
  #dateInput {
    width: 12em;
  }
}
